<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>goldbird</title>
    <link href="../css/mui.min.css" rel="stylesheet"/> 
    <style type="text/css">
    	html,body{
    		/*height: 100%;width: 100%;*/
    		text-align: center;
    		/*background: #E53939 url(../data/backgroun3.jpg) no-repeat center;*/
    		/*background-size: 100% 100%;*/
    		/*background-color: black;*/
    	}
		#mainContent{
			margin: 0 auto;
			padding: 10px;
			margin-top: 35px;
			width: 90%;
			height: 350px;
			border-radius: 20px;
		}
		#foot{
			padding-left: 20%; 
		}
		#foot span i{ 
			margin-left: 15px;
			font-size: 50px!important;
		} 
		#button-group span{
			color: green;
			margin-top: 20px!important;
		}
		button{
			border: 1px solid white!important;
		}
		#weixin{ 
			width: 100%;
			float: left;
		}
		#qq{
			float: left;
			display: none;
			width: 50%;
			/*visibility: hidden;*/
		}
		.hr-more{
			color: gray;
			font-size: 14px;
		    padding: 0 20px 0;
		    margin-bottom: 15px;
		    line-height: 1px;
		    border-left: 65px solid grey;
		    border-right: 65px solid grey;
		}
		.mui-input-group:before,.mui-input-group:after{
			height: 0;
		}
		.mui-btn{border: none!important;}
		input{
			color: #222!important;
		}
   </style>
</head>
<body>
	<div id="app">
		<h4 style="color: #222;text-align: center;margin-top: 23px!important;">
			<a style="color: #222;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			{{type=='login'?'登录':'注册'}}</h4>  
		<div id="mainContent">
			<div style="width: 60px;height:60px;margin: 0 auto;">
				<img src="../data/logo.png"style="margin: 0px;width: 60px;border:2px solid white;border-radius: 50%;"/>
			</div>  
			<div>
				<div class="mui-input-group" style="text-align: left!important;margin-top: 50px;background-color: transparent;color: white;">
					<div class="mui-input-row">
				        <!--<label>名称</label>-->
						<input v-if="type=='login'" placeholder="手机号/昵称" v-model="username" type="text" name="phone"/>
						<input v-else placeholder="手机号" v-model="mobilephone" type="text" name="phone"/>
				    </div>
				    <!--regist code-->
				    <div v-if="type=='regist'" style="padding: 4px 2% 0 4%;">
					    <input v-model="code" style="width: 50%;color: #222;padding-left: 0;background-color: transparent;border: none;border-bottom: 1px solid #e0e0e0;"placeholder="验证码" type="text" name="smsCode"/>
					    <button @click="getCode" class="mui-btn mui-btn-outlined mui-btn-green" v-text="codeText" :disabled="codeStatus" style="width: 48%;float: right;">
					    	获取验证码
					    </button>
				    </div>
			
					<div class="mui-input-row">
				        <!--<label>密码</label>-->
				        <input type="password" v-model="passwd" class="mui-input-password" name="password" placeholder="输入密码">
				    </div>
				    <div v-show="type=='regist'" class="mui-input-row">
				        <!--<label>确认密码</label>-->
				        <input type="password" v-model="passwdConfirm" class="mui-input-password" name="password" placeholder="确认密码">
				    </div>
				</div>
				<button v-if="type=='login'" @click="login" style="font-size: 18px;margin-top: 30px;border-radius: 5px;height: 35px;width: 100%;" type="button" class="mui-btn mui-block mui-btn-green"><strong>登录</strong></button>
				<button v-else @click="regist" style="font-size: 18px;margin-top: 30px;border-radius: 5px;height: 35px;width: 100%;" type="button" class="mui-btn mui-block mui-btn-green"><strong>注册</strong></button>
			</div>
			
			<div id="button-group">
				<span style="float: left;" v-if="type=='login'" @click="switchRegister">快速注册</span>
				<span style="float: left;" v-else @click="switchLogin">登录</span>
				<span style="float: right;" onclick="forgetPW()">忘记密码？</span>
			</div>
		</div>
	</div>
	
	<script src="../common/mui.min.js"></script>
	<script src="../common/vue.js"></script>
	<script src="../common/av.js"></script>
</body>
<script type="text/javascript" charset="utf-8">
var app = new Vue({
	el:'#app',
	data:{
		type:'login',//login,regist
		mobilephone:'',// regist need
		username:'', // login need
		passwd:'',
		passwdConfirm:'',
		code:'',
		codeText:'获取验证码',
		codeStatus:false,
	},
	created:function(){
		this.$nextTick(function(){
			
		})
	},
	methods:{
		switchRegister:function(){
			this.type='regist';
		},
		switchLogin:function(){
			this.type='login';
		},
		login:function(){
			var username = this.username;
			var passwd = this.passwd;
			if(username=='' || passwd=='') {
				mui.toast('请输入用户名和密码!');
				return;
			}
			AV.User.logIn(username, passwd).then( function(loginedUser) {
//				plus.webview.getWebviewById('barItem/mine.html').evalJS('window.location.reload()');
//				mui.fire(plus.webview.getWebviewById('main-life.html'),"reloadSub");
				var mine=plus.webview.getWebviewById('mine.html');
				mine.evalJS('plus.webview.currentWebview().reload()');
//				mui.fire(mine,'initData');
//				plus.webview.getLaunchWebview().show("slide-in-right", 200);
				mine.show("slide-in-right", 200);
				mui.later(function() {
//					var shopMain=plus.webview.getWebviewById('shopListMain.html');
//					if(shopMain) {
//						shopMain.close();
//					}
					plus.webview.currentWebview().close();
				}, 400);
			}
			, function(error) {
				AV.User.logInWithMobilePhone(username, passwd).then(function(loginedUser) {
//					plus.webview.getWebviewById('barItem/mine.html').evalJS('window.location.reload()');
//					mui.fire(plus.webview.getWebviewById('main-life.html'),"reloadSub");
					var mine=plus.webview.getWebviewById('mine.html');
					mine.evalJS('plus.webview.currentWebview().reload(true)');
					mine.show("slide-in-right", 200);
					mui.later(function() {
//						if(shopMain) {
//							shopMain.close();
//						}
						plus.webview.currentWebview().close();
					}, 400) //保存部分信息
				}, function(err) {
					mui.toast('登录异常');
				});
			});
		},
		regist:function(){
			var mobilePhoneNumber = this.mobilephone.trim();
			var password = this.passwd.trim();
			var passwordConfirm = this.passwdConfirm.trim();
			var smsCode = this.code.trim();
			if(mobilePhoneNumber==''||password == ''||smsCode==""){
				mui.toast('请正确填写!');
				return;
			}
			if(password!==passwordConfirm){
				mui.toast('密码输入不一致'); return;
			}
			
			AV.Cloud.verifySmsCode(smsCode, mobilePhoneNumber).then(function(){
				console.log('regist success')
				var user = new AV.User();
				/*****************给个默认头像********************/
				var query = new AV.Query("_File");
				query.get('59c784007565710044c3e32a').then(function(imgFile){
			 		user.set('username',mobilePhoneNumber);
			 		user.set('password',password);
			 		user.set('img',imgFile.get('url'));
			 		user.setMobilePhoneNumber(mobilePhoneNumber);
			 		user.signUp().then(function(loginerUser){
			 			mui.toast(loginerUser.get('username')+'注册成功');
//		      				plus.webview.getWebviewById('barItem/mine.html').evalJS('window.location.reload()');
//							mui.fire(plus.webview.getWebviewById('main-life.html'),"reloadSub");
						var mine=plus.webview.getWebviewById('mine.html');
						mine.evalJS('plus.webview.currentWebview().reload()');
						mine.show("slide-in-right",200);
	      				mui.later(function(){
	      					plus.webview.currentWebview().close();
	      				},400); 
	      				
			 			/**************保存pushInfo****************/
					},function(error){
						mui.toast('注册失败:'+JSON.stringify(error));
		 			});
		 		},function(err){if(err.code=='-1')mui.toast('无网络');});
			},function(err){
				alert(err)
				if(err.code=='-1')mui.toast('无网络');
			});
		},
		getCode:function(){
			console.log('getCode')
			var that = this;
			var mobilePhoneNumber = that.mobilephone.trim();
			if(mobilePhoneNumber.length<11){
				mui.toast('请填写正确的手机号');
				return false;
			}
			var query = new AV.Query('_User');
			query.equalTo('mobilePhoneNumber',mobilePhoneNumber);
			
			query.find().then(function(resp){
			if(resp.length){
				mui.toast('该手机已经注册，请直接登录');
				return;
			}else{
				AV.Cloud.requestSmsCode({
			      mobilePhoneNumber: mobilePhoneNumber,
			      name: '金鹏MC',
			      op: '注册',
			      ttl: 5
				}).then(function(){
					mui.toast('请稍后...');
					var timeFlag=60;
					that.codeStatus = true;
					var timer = setInterval(function(){
						timeFlag--;
						if(timeFlag===0){
							that.codeText = "获取验证码";
							that.codeStatus = false;
							clearInterval(timer);
							return false;
						}
						that.codeText = timeFlag+"s后重新获取";
					},1000);
					mui.toast('验证码发送成功');
				},function(err){
					alert(JSON.stringify(err))
						if(err.code=='-1')mui.toast('无网络');
					});
				}
			},function(err){
				alert(err)
				if(err.code=='-1')mui.toast('无网络');
			});
		}
	}
})

mui.init();
function plusReady(){
	
}
document.addEventListener('plusready',plusReady,false);

// 登录认证
function login(id){
	plus.nativeUI.showWaiting(
	"",{ 
		width:"45px",
		color:"rgba(0,0,0,0.5)",
		size:"15px", 
		padlock:true,
		background:"rgba(225,225,225,1)",
		modal:false,
		loading:{
			height:"25px",
//			icon:"img/book/waiting.png"
		}
	});
}
/*
 *注册用户
 */

function register() {
	mui.openWindow('regist.html', 'regist.html');
}


/*
 *忘记密码
 */

function forgetPW() {
	mui.openWindow('forgetPassword.html', 'forgetPassword.html');
}
//document.getElementById('login').addEventListener('onclick',function(){
//	var mobilePhoneNumber=$('input[name=phone]').val();
//	var password=$('input[name=password]').val();
//	if(mobilePhoneNumber=='' || password=='') {
//		mui.toast('请输入用户名和密码!');
//		return;
//	}
//	AV.User.logIn(mobilePhoneNumber, password).then( function(loginedUser) {
//		plus.webview.getWebviewById('barItem/mine.html').evalJS('window.location.reload()');
//		mui.fire(plus.webview.getWebviewById('main-life.html'),"reloadSub");
//		mui.later(function() {
//			var shopMain=plus.webview.getWebviewById('shopListMain.html');
//			plus.webview.getLaunchWebview().show("slide-in-right", 200);
//			if(shopMain) {
//				shopMain.close();
//			}
//			plus.webview.currentWebview().close();
//		}
//		, 400);
//	}
//	, function(error) {
//		AV.User.logInWithMobilePhone(mobilePhoneNumber, password).then(function(loginedUser) {
//			plus.webview.getWebviewById('barItem/mine.html').evalJS('window.location.reload()');
//			mui.fire(plus.webview.getWebviewById('main-life.html'),"reloadSub");
//			mui.later(function() {
//				var shopMain=plus.webview.getWebviewById('shopListMain.html');
//				plus.webview.getLaunchWebview().show("slide-in-right", 200);
//				if(shopMain) {
//					shopMain.close();
//				}
//				plus.webview.currentWebview().close();
//			}
//			, 400) //保存部分信息
//		}
//		, function(err) {
//			mui.toast('登录异常');
//		}
//		);
//	}
//	);
//}
//
//);

</script>
</html>