<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
	<style type="text/css">
		#segmentedControl{
			margin: 10px 2% 5px 2%;
			width: 96%!important;
		}
		.mui-media-body{
			width: calc(100% - 70px);
		}
		.mui-segmented-control{
			border: 1px solid #E53939;
		}
		.mui-segmented-control .mui-control-item.mui-active{
			background-color: #E53939;
		}
		.mui-segmented-control .mui-control-item{
			color: #E53939;
			border-color: #E53939!important;
		}
	</style>
</head>
<body>
	<!--<header class="mui-bar mui-bar-nav">-->
		<div id="segmentedControl" class="mui-segmented-control">
			<a class="mui-control-item mui-active" href="#item1">正式考试</a>
			<a class="mui-control-item" href="#item2">模拟考试</a>
		</div>
	<!--</header>-->
	<div id="pullrefresh">
		
		<div id="app" class="mui-content" style="">
			<!--<div id="noShop" v-if="!shopActive">
				<h5>无店铺信息，可联系客服上架店铺</h5>
			</div>-->
			
			<div id="item1" class="mui-control-content mui-active">
				<ul class="mui-table-view">
				    <li class="mui-table-view-cell mui-media">
				        <a class="mui-navigate-right" href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="data/logo.png">
				            <div class="mui-media-body">
				                海航几天BIM六段认证考试
				                <p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
				            </div>
				        </a>
				    </li>
				    <li class="mui-table-view-cell mui-media">
				        <a class="mui-navigate-right" href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="data/logo.png">
				            <div class="mui-media-body">
				                海航集团机务维修类
				                <p class="mui-ellipsis">想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
				            </div>
				        </a>
				    </li>
				    <li class="mui-table-view-cell mui-media">
				        <a class="mui-navigate-right" href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="data/logo.png">
				            <div class="mui-media-body">
				                海航集团保密教育读本考试
				                <p class="mui-ellipsis">烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
				            </div>
				        </a>
				    </li>
				</ul>
			</div>
			<div id="item2" class="mui-control-content">
				<ul class="mui-table-view">
				    <li class="mui-table-view-cell mui-media">
				        <a class="mui-navigate-right" href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="data/logo.png">
				            <div class="mui-media-body">
				                十九大专项工作安保学习考试
				                <p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
				            </div>
				        </a>
				    </li>
				    <li class="mui-table-view-cell mui-media">
				        <a class="mui-navigate-right" href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="data/logo.png">
				            <div class="mui-media-body">
				                海航集团企业文化
				                <p class="mui-ellipsis">想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
				            </div>
				        </a>
				    </li>
				    <li class="mui-table-view-cell mui-media">
				        <a class="mui-navigate-right" href="javascript:;">
				            <img class="mui-media-object mui-pull-left" src="data/logo.png">
				            <div class="mui-media-body">
				                全面风险管理考试
				                <p class="mui-ellipsis">烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
				            </div>
				        </a>
				    </li>
				</ul>
			</div>
		</div>
	</div>
	<script src="common/mui.min.js"></script>
	<script src="common/vue.js"></script>
	<script src="common/av.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>