<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="css/mui.min.css">
		<style>
			html,body {
				background-color: #efeff4;
			}
			.user{
				text-align: center;
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.userImg{
				width: 50px;height: 50px;border-radius: 50%;
			}
		</style>
	</head>

	<body>
		<!--<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">设置</h1>
		</header>-->
		<div id="app" class="mui-content">
			<div class="user">
				<img class="userImg" :src="currentUser?currentUser.get('img'):'data/logo.png'"/>
				<h5 @click="login" v-if="!currentUser">点击登录</h5>
				<h5 v-else>{{currentUser.get('username')}}</h5>
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						新消息通知
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						隐私
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						通用
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 25px;">
				<li class="mui-table-view-cell">
					<a id="about" class="mui-navigate-right">
						关于mui
					</a>
				</li>
			</ul>
			<ul v-if="currentUser" class="mui-table-view" style="margin-top: 25px;">
				<li class="mui-table-view-cell" @click="logout">
					<a style="text-align: center;color: #FF3B30;">
						退出登录
					</a>
				</li>
			</ul>
		</div>
		</style>
	</body>
	<script src="common/mui.min.js"></script>
	<script src="common/av.js"></script>
	<script src="common/vue.js"></script>
	<script>
		var app = new Vue({
			el:'#app',
			data:{
				currentUser:null,
			},
			methods:{
				login:function(){
					mui.openWindow('modules/login.html','login.html');
				},
				logout:function(){
					AV.User.logOut();
					this.currentUser = AV.User.current();
					mui.openWindow('modules/login.html','login.html');
				},
				InitUser:function(){
					this.currentUser = AV.User.current();
					if(!this.currentUser){
						mui.openWindow('modules/login.html','login.html');
					}
				}
			},
			created:function(){
				var that = this;
				that.InitUser();
				
				this.$nextTick(function(){
					mui.plusReady(function(){
//						plus.webview.currentWebview().addEventListener('show',function(){
//							that.currentUser = AV.User.current();
//							console.log('show')
//						});
						plus.webview.currentWebview().addEventListener('initData',function(){
							alert(AV.User.current())
							that.currentUser = AV.User.current();
							console.log('show')
						});
					})
				})
			},
			computed:{
				
			}
		})
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		
		document.getElementById("about").addEventListener('tap',function () {
			//获得主页面的webview
			var main = plus.webview.currentWebview().parent();
			//触发主页面的gohome事件
			mui.fire(main,'gohome');
		});
	</script>
</html>